In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from src.Als import Als

In [2]:
INPUT_PATH = './data/input/listenbrainz_sample_artists.csv'
data = pd.read_csv(INPUT_PATH)
data.head()

  user_name                           artist_msid artist_name
0  ShowMeMO  ce87bf68-e2c6-4862-8cf7-9ac24116a27a    Longview
1  ShowMeMO  3ffdd939-f82e-4a05-904f-cd11c9e4ed57    Sonanaut
2  ShowMeMO  a6ae357d-6038-45e7-8056-9fbeda156d33    Zero One
3  ShowMeMO  3f7c4651-eb86-40a9-8472-dcad90dda6c5   Ben Neill
4  ShowMeMO  8a6df2a5-2496-465f-9c3f-2b1c596ae13c   Bob Moses

In [3]:
data.shape

(14706088, 3)

In [4]:
Als.get_number_items(data,'artist_msid')

348993

In [5]:
Als.get_number_users(data,'user_name')

2604

In [6]:
data_sample = data.sample(frac=0.01).sort_values(by=['user_name','artist_msid'],ascending=True).reset_index(drop=True)
counts = data_sample['artist_msid'].value_counts()
quant = np.quantile(counts,0.9)
selected_artists = counts[counts>quant].index.tolist()
data_sample_filt = data_sample[data_sample['artist_msid'].isin(selected_artists)]

In [7]:
data_sample.head()

  user_name                           artist_msid    artist_name
0   -andor-  1f2708f1-08b3-4bc4-9c59-f576a172b70f  Danny L Harle
1   -andor-  276ba4ca-18e4-4b04-8fe5-d6c213ee101e       felicita
2   -andor-  2d14f391-8739-41c5-aef3-0314fd113f32    Fatboy Slim
3   -andor-  2e6b6e36-65a9-42d9-9092-cc415e6def39  Tigres Leones
4   -andor-  3c4dbec8-a96a-4901-af73-2f687a3f0408           Neu!

In [8]:
Als.get_number_users(data=data_sample_filt,user_col='user_name')

2131

In [9]:
Als.get_number_items(data=data_sample_filt,item_col='artist_msid')

3388

In [82]:
als = Als()
als.fit(data=data_sample_filt,
        user_col='user_name',
        item_col='artist_name',
        dim=20,
        interaction_type='n_interactions',
        lambda_u=0.5,
        lambda_i=0.5,
        tol=0.005)

  3%|▎         | 70/2131 [00:00<00:02, 697.06it/s]----------------------------------------------------------------------------------------------------
== ITERAÇÃO 1 ==
Resolvendo usuarios..
100%|██████████| 2131/2131 [00:02<00:00, 719.87it/s]
  2%|▏         | 66/3388 [00:00<00:05, 653.13it/s]Feito
Resolvendo itens..
100%|██████████| 3388/3388 [00:04<00:00, 720.07it/s]
  0%|          | 0/2131 [00:00<?, ?it/s]Feito
Calculando erro de predição..
Feito
MSE: 1.108
Total elapsed time: 7.8s
Time in this iteration: 7.8s
----------------------------------------------------------------------------------------------------
== ITERAÇÃO 2 ==
Resolvendo usuarios..
100%|██████████| 2131/2131 [00:02<00:00, 712.72it/s]
  2%|▏         | 74/3388 [00:00<00:04, 732.49it/s]Feito
Resolvendo itens..
100%|██████████| 3388/3388 [00:04<00:00, 738.58it/s]
  0%|          | 0/2131 [00:00<?, ?it/s]Feito
Calculando erro de predição..
Feito
MSE: 0.264
Total elapsed time: 15.6s
Time in this iteration: 7.7s
----------------------------------------------------------------------------------------------------
== ITERAÇÃO 3 ==
Resolvendo usuarios..
100%|██████████| 2131/2131 [00:02<00:00, 726.52it/s]
  2%|▏         | 70/3388 [00:00<00:04, 693.88it/s]Feito
Resolvendo itens..
100%|██████████| 3388/3388 [00:04<00:00, 723.30it/s]
  0%|          | 0/2131 [00:00<?, ?it/s]Feito
Calculando erro de predição..
Feito
MSE: 0.129
Total elapsed time: 23.3s
Time in this iteration: 7.8s
----------------------------------------------------------------------------------------------------
== ITERAÇÃO 4 ==
Resolvendo usuarios..
100%|██████████| 2131/2131 [00:02<00:00, 712.27it/s]
  2%|▏         | 68/3388 [00:00<00:04, 674.45it/s]Feito
Resolvendo itens..
100%|██████████| 3388/3388 [00:04<00:00, 723.73it/s]
  0%|          | 0/2131 [00:00<?, ?it/s]Feito
Calculando erro de predição..
Feito
MSE: 0.084
Total elapsed time: 31.2s
Time in this iteration: 7.8s
----------------------------------------------------------------------------------------------------
== ITERAÇÃO 5 ==
Resolvendo usuarios..
100%|██████████| 2131/2131 [00:02<00:00, 721.77it/s]
  2%|▏         | 68/3388 [00:00<00:04, 677.73it/s]Feito
Resolvendo itens..
100%|██████████| 3388/3388 [00:04<00:00, 721.49it/s]
  0%|          | 0/2131 [00:00<?, ?it/s]Feito
Calculando erro de predição..
Feito
MSE: 0.062
Total elapsed time: 39.0s
Time in this iteration: 7.8s
----------------------------------------------------------------------------------------------------
== ITERAÇÃO 6 ==
Resolvendo usuarios..
100%|██████████| 2131/2131 [00:02<00:00, 711.95it/s]
  2%|▏         | 68/3388 [00:00<00:04, 675.93it/s]Feito
Resolvendo itens..
100%|██████████| 3388/3388 [00:04<00:00, 720.69it/s]
  0%|          | 0/2131 [00:00<?, ?it/s]Feito
Calculando erro de predição..
Feito
MSE: 0.049
Total elapsed time: 46.8s
Time in this iteration: 7.9s
----------------------------------------------------------------------------------------------------
== ITERAÇÃO 7 ==
Resolvendo usuarios..
100%|██████████| 2131/2131 [00:02<00:00, 717.33it/s]
  2%|▏         | 68/3388 [00:00<00:04, 679.21it/s]Feito
Resolvendo itens..
100%|██████████| 3388/3388 [00:04<00:00, 717.16it/s]
  0%|          | 0/2131 [00:00<?, ?it/s]Feito
Calculando erro de predição..
Feito
MSE: 0.041
Total elapsed time: 54.7s
Time in this iteration: 7.9s
----------------------------------------------------------------------------------------------------
== ITERAÇÃO 8 ==
Resolvendo usuarios..
100%|██████████| 2131/2131 [00:03<00:00, 705.45it/s]
  2%|▏         | 62/3388 [00:00<00:05, 614.38it/s]Feito
Resolvendo itens..
100%|██████████| 3388/3388 [00:04<00:00, 713.91it/s]
  0%|          | 0/2131 [00:00<?, ?it/s]Feito
Calculando erro de predição..
Feito
MSE: 0.035
Total elapsed time: 62.6s
Time in this iteration: 7.9s
----------------------------------------------------------------------------------------------------
== ITERAÇÃO 9 ==
Resolvendo usuarios..
100%|██████████| 2131/2131 [00:02<00:00, 712.44it/s]
  2%|▏         | 71/3388 [00:00<00:04, 707.89it/s]Feito
Resolvendo itens..
100%|██████████| 3388/3388 [00:04<00:00, 726.27it/s]
Feito
Calculando erro de predição..
Feito
MSE: 0.031
Total elapsed time: 70.4s
Time in this iteration: 7.8s
----------------------------------------------------------------------------------------------------

In [86]:
als.user_embedding['ddomo']

array([ 0.10953456, -0.54696585, -0.20722301, -0.02880283,  0.06747441,
        0.03280752, -0.0253135 ,  0.45682099, -0.01051228, -0.05817983,
        0.04219521, -0.174623  , -0.40089313,  0.22890532,  0.37994108,
        0.12296263,  0.04383623,  0.00946645, -0.13503407,  0.03875318])

In [85]:
als.R

             user_name    artist_name  interaction
0              -andor-  Danny L Harle          1.0
1              -andor-    Fatboy Slim          1.0
2              -andor-        Laibach          1.0
3              -andor-  Pet Shop Boys          1.0
4               00dani       Toby Fox          1.0
...                ...            ...          ...
45741  †AtzzkiySotona†     In Extremo          1.0
45742  †AtzzkiySotona†       Rhapsody          1.0
45743  †AtzzkiySotona†     The Rasmus          1.0
45744  †AtzzkiySotona†          Сплин          1.0
45745  †AtzzkiySotona†          志方あきこ          1.0

[45746 rows x 3 columns]